/* navbar */
.navbar {
    font-size: 2vw;
}

.active {
    font-weight: 600;
}
.anchorLinks {
    position: fixed; 
    background-color: white;
    width: 100vw;
    z-index: 3;
    text-align: center;
}
.anchor {
    cursor: pointer;
}
.anchorLinks ul {
    list-style: none;
}
.anchorLinks ul li {
    display: inline-block;
    padding: 0.1vh 3vw;
}
.anchorLinks ul li.active {
    background-color: lightgray;
}
.anchorLinks ul li.active a {
    color: black ;
}
html {
    scroll-behavior: smooth;
}

/* general body */
h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 5vw;
}
@keyframes transitionIn {
    /* // this makes it so that classes with transitionIn added to their animation
    //will appear subtly when page loads (ie top row of services) */
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.appear1 {
    animation: transitionIn 2s;
}
.appear2 {
    animation: transitionIn 4s;
}
.reveal.reveallevel {
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, height 500ms ease-in-out;
}
.reveal.reveallevel.active {
    opacity: 1;
}
.revealup.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, height 500ms ease-in-out;
}
.revealupslow.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out, height 0.75s ease-in-out;
}
.revealup.reveal.active { 
    transform: translateY(0px);
    opacity: 1;
}
.revealupslow.reveal.active { 
    transform: translateY(0px);
    opacity: 1;
}
.revealleft.reveal {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 1s ease-in-out, height 500ms ease-in-out;
}
.revealleft.reveal.active {
    transform: translateX(0px);
    opacity: 1;
}
.revealright.reveal {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 1s ease-in-out, height 500ms ease-in-out;
}
.revealright.reveal.active {
    transform: translateX(0px);
    opacity: 1;
}

/* main areas */
.mainDiv {
    display: flex;
    width: 80vw;
    height: 60vh;
    justify-content: center;
    background-color: lightgrey;
    border: 3px, solid, black;
    margin: 5vw 10vw;
    position: static;
}

.imgElement {
    height: 90%;
    width: 45%;
    position: relative;
}
.imgElement.left {
    margin-right: 2.5%;
}
.imgElement.right {
    margin-left: 2.5%;
}

.mainDiv img {
    max-width: 90%;
    height: 90%;
    position: absolute;
    object-fit: contain;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 7.5%;
}

.paraElement {
    height: 90%;
    width: 45%;
    position: relative;
    justify-content: center;
}
.paraElement.right {
    margin-left: 2.5%;
}
.paraElement.left {
    margin-right: 2.5%;
}
.paraElement .small {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    margin-top: 30vh;
    transform: translateY(-50%);
}
.paraElement a {
    color: rgb(0, 102, 170);
    font-weight: 600;
}

.carImg {
    max-height: 30vw;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}
#carouselIndex {
    background-color: lightgrey;
}
a {
    color: grey;
}
a:hover {
    color: black;
}

.scroll-container {
     height: 70vh;
     overflow-y: auto;
     overflow-x: hidden;
}
.galleryImg {
    width: 70vw;
    height: 70vh;
    background-color: lightgrey;
    margin: 0 15vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.galleryImg.active {
    opacity: 1;
}
.galleryImg img {
    max-width: 63vw;
    height: 63vh;
    margin: 3.5vh 35vw;
    object-fit: cover;
    transform: translateX(-50%);
}

.variableDiv {
    display: flex;
    width: 80vw;
    justify-content: center;
    background-color: lightgrey;
    border: 3px, solid, black;
    margin: 0vw 10vw;
    position: static;
    padding-top: 7vh;
    padding-bottom: 7vh;
    font-size: 1.3vw;
}
.textDiv {
    width: 35vw;
    justify-content: center;
}
.variableDiv a {
    color: rgb(0, 102, 170);
    font-weight: 600;
}
.imgDiv {
    width: 35vw;
    justify-content: center;
    position:relative;
    white-space: nowrap;
    text-align: center;
    color: grey;
}
.imgDiv a {
    color: grey;
}
/* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div
for vertically aligning image */
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.variableDiv img {
    max-width: 25vw;
    max-height: 90%;
    object-fit: contain;
    vertical-align: middle;
}
.variableDiv video {
    max-width: 25vw;
    max-height: 90%;
    object-fit: contain;
    vertical-align: middle;
}
